doctype html
html
  head
    title NodeJs
    meta(name='description', content='Mozilla Sandstone Bespoke.js Theme')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')

  body

    article

      section
        img(src="img/node.png", alt="Nodejs",width="500px")
        h2 Torto

      section
        h1.bullet História
        ul
          li Foi desenvolvido em 2009 por Ryan Dahl e mais 14 pessoas
          li Idéia surgiu ao analisar o load do Flicker
          li Sua primeira palestra foi na <a href="https://www.youtube.com/watch?v=ztspvPYybIY">European JSConf em 8 de Novembro de 2009</a>


      section
        h1.bullet O que é essa PIRA?
        h2.bullet <span style="color:#415A0E"> Node.js é um plataforma baseada no runtime JS do Chrome, para aplicações escaláveis em rede. Node.js é baseado em eventos, seu modelo é no-blocking I/O. Oque torna ele leve e eficinete, perfeito para aplicações em tempo real e de muitos dados ..</span>
        p.bullet <b>Fonte:</b><a href=""> Site Node.js</a>

      section
        h1 Ok TIO TORTO, ainda não entendi!

      section
        h1 Ele é um servidor baseado em JavaScript (V8)

      section
        h1.bullet Feito em Modulos
        h1.bullet Para os mais chegados "Packages" (NPM)

      section
        h1.bullet Modelo no-blocking I/O.
        h2.bullet OQ EH ISSO JESUS???? :O

      section
        h1.bullet Como funciona hj?
        ul
          li Cliente faz uma requisição
          li Servidor atende e processa a requisição
          li Servidor devolve a resposta para o cliente
          li Pronto para processar uma nova requisição

      section
        img(src="img/request.jpg", alt="Requisições")

      section
        img(src="img/memory.jpg", alt="Memoria")

      section
        h1.bullet Como é no Node?
        ul
          li Cliente faz uma requisição
          li Servidor passa a solicitação para processamento.
          li Pronto para processar uma nova requisição
          li Servidor lida com mais requisições a medida que ele vão sendo requisitados
          li Servidor fornece a resposta para o cliente quando a requisição concluiu o processamento.
        p.bullet <b>Fonte:</b><a href="http://morvanabonin.org/node-js/">Morvana Mozilla <3</a>

      section
        h1 Ou seja funciona por eventos ASSÍNCRONO <span style="color:red"><3</span>

      section
        h1 É rápido? <span style="color:red"><3</span>

      section
        img(src="img/ben.png", alt="Benc")



      section
        h1.bullet Bora CODA! <span class='bullet'>:)</span>

    script(src='build/build.js')
